<?xml version="1.0"?>
<launch>



<node pkg="cnr_configuration_manager" type="dispatcher" name="configuration_dispatcher" output="screen" >
<rosparam>
  appenders: [screen]
  levels: [info]
  file_name: "bbb"
  pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
</rosparam>
  <param name="num_worker_threads" value="40" />
  <remap from="~configuration_dispatches" to="/configuration_dispatches" />
</node>



</launch>
