<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen"> 
    <param name="num_worker_threads" value="20" />
  </node>
  <arg name="gui" default="false"/>
  
  <rosparam command="load" file="$(find dimostratore_configurations)/config/gazebo_controllers_configurations.yaml" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/gazebo/js_pub/joint_states]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

<node pkg="itia_configuration_manager" type="configuration_manager" name="controller_manager" output="screen"/>
<node pkg="itia_configuration_manager" type="dispatcher" name="dispatcher" output="screen"/>
  <include file="$(find dimostratore_descriptions)/launch/dimostratore_gazebo.launch">
  <arg name="gui" value="$(arg gui)"/>
  </include>
  
  <node pkg="rosservice" 
  name="load_controller" 
  type="rosservice" 
  args="call --wait  /configuration_manager/start_configuration
        'velctrl'
        1" 
  output="screen" />

  
</launch>
