<?xml version="1.0"?>
<launch>
<arg name="fake" default="true"/>
<arg name="use_rviz" default="true" />
<arg name="debug" default="false" />
<arg name="pipeline" default="ompl" />



<node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
    <param name="num_worker_threads" value="20" />
  </node>
  <include file="$(find dimostratore_descriptions)/launch/cella_ur5_upload.launch"/>

<rosparam command="load" file="$(find dimostratore_configurations)/config/controllers_configurations.yaml" />
<rosparam command="load" file="$(find dimostratore_configurations)/config/planner_hw.yaml" />
<rosparam unless="$(arg fake)" command="load" file="$(find dimostratore_configurations)/config/ur5_hw.yaml" />
<rosparam unless="$(arg fake)" command="load" file="$(find dimostratore_configurations)/config/elmo_hw.yaml" />
<rosparam     if="$(arg fake)" command="load" file="$(find dimostratore_configurations)/config/fake_ur5_hw.yaml" />
<rosparam     if="$(arg fake)" command="load" file="$(find dimostratore_configurations)/config/fake_elmo_hw.yaml" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="/source_list">[/ur5/joint_states,/elmo/joint_states]</rosparam>
    <rosparam param="rate">250</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

<node pkg="itia_configuration_manager" type="configuration_manager" name="controller_manager" output="screen"/>
<node pkg="itia_configuration_manager" type="dispatcher" name="dispatcher" output="screen"/>
  
<include file="$(find cella1_ur5_moveit_config)/launch/move_group.launch">
  <arg name="allow_trajectory_execution" value="true"/>
  <arg name="fake_execution" value="false"/>
  <arg name="info" value="true"/>
  <arg name="debug" value="$(arg debug)"/>
  <arg name="pipeline" value="$(arg pipeline)"/>
</include>

<include file="$(find cella1_ur5_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
  <arg name="rviz_config" value="$(find cella1_ur5_moveit_config)/launch/moveit.rviz"/>
  <arg name="debug" value="$(arg debug)"/>
</include>


<rosparam file="$(find dimostratore_configurations)/config/thor_safety.yaml" command="load"/>
<node pkg="velocity_scaling_iso15066" type="velocity_scaling_iso15066_node" name="safety" output="log">
<!--  <remap from="poses" to="/centroid_detection_rs1/poses"/>-->
</node>

</launch>
